[2017-07-19 08:41] Niichie opened #1 "Highlight Matching color is too similar to line highlight"
Basically, you cant see matching tags. See screenshot below:
![capture](https://user-images.githubusercontent.com/16381287/28358335-85d1c43e-6c3c-11e7-82d4-980570149208.JPG)

compared to say, dracula-soft
![2](https://user-images.githubusercontent.com/16381287/28358346-8f39e40c-6c3c-11e7-8bb0-ff2643c9e0bc.JPG)

[2017-07-20 10:46] whizkydee commented on #1
Hey @Niichie ,

Thanks for reporting 👍 . I'm sorry, but I can't understand exactly what you're saying. If you could give a little more detail about the issue, that'd be great.

[2017-07-20 17:05] Niichie commented on #1
The color that you have set for the bracket matching (when the opening and closing tag are highlighted) is almost invisible with this theme.
This theme:
![28358335-85d1c43e-6c3c-11e7-82d4-980570149208](https://user-images.githubusercontent.com/16381287/28429749-d185ca64-6d4b-11e7-90a7-bb8f1cd18111.JPG)

Dracula:
![28358346-8f39e40c-6c3c-11e7-8bb0-ff2643c9e0bc](https://user-images.githubusercontent

[2017-07-21 08:11] whizkydee commented on #1
Thanks @Niichie ,

I'll consider that in the next release `v1.0.11`.

[2017-07-22 08:32] mustafawm commented on #1
Hi @whizkydee, thanks for the awesome theme!

I was about to make the same suggestion but came across this one.

Can you pls make the selection highlight a bit different (maybe darker or less transparent).

![screen shot 2017-07-22 at 6 27 38 pm](https://user-images.githubusercontent.com/13101565/28489697-d3d45d64-6f0b-11e7-808d-4129244ea59e.png)

as you can see it's a bit hard to spot similar wor

[2017-07-22 13:18] whizkydee commented on #1
Awesome @mustafawm ,

Thanks. I'll check that out soon and take action in a moment. Please be patient.

[2017-07-22 16:27] whizkydee commented on #1
Also @mustafawm ,

Which of the highlights are you talking about?

[2017-07-28 18:34] Niichie commented on #1
Hello @whizkydee, after using the theme for the past few days it still seems like the bracket matching color is a touch too dark. It needs more contrast to be easily identifiable quickly!

[2017-07-29 15:32] whizkydee commented on #1
Alright @Niichie,

Contributions are wide open. Feel free to contribute to the repo.

[2017-07-29 15:41] #1 closed

[2017-08-08 17:31] pichfl opened #2 "Selection Highlight contrast is not optimal"
First off: I love this theme.

The current highlight color has very low contrast against the background which makes it close to invisible in many situations. I replaced the colors in my local config as follows, but I'm not happy yet with the colors and also I'm missing the selector for coloring selections created by super + d (select next occurence of selected word)

[code]

Maybe you have a bette

[2017-08-08 18:15] whizkydee commented on #2
Thanks @pichfl ,

Could you please provide a screenshot describing this issue. Or better, a video or GIF. I think I do not understand you accurately.

Cheers!

[2017-08-26 13:52] getsetbro opened #3 "Template string highlighting"
Can you add template string highlighting?
![image](https://user-images.githubusercontent.com/442793/29741934-416ea962-8a44-11e7-9be9-5e87b3cdb45a.png)

[2017-08-26 14:35] whizkydee commented on #3
Oops... :(,

Thanks @getsetbro, I didn't actually notice that. It works for in-line template strings but I didn't take note of the the block form.
Could you please specify if you're using any **JS framework** in this code, or it's just **Vanilla**.

I look into that and push the patch in the next version.

Cheers! :+1:

[2017-08-26 15:07] getsetbro commented on #3
I am using Vue js.

Cheers

[2017-08-28 11:03] whizkydee commented on #3
Great... The language set in VSCode for that file is JavaScript? Or you installed an extension for Vue.

[2017-08-28 14:33] getsetbro commented on #3
It is just a .js file.
I have a small sample app of it here: https://github.com/getsetbro/simple_vue_app
It is running here: http://getsetbro.com/simple_vue_app/

[2017-08-28 15:34] whizkydee commented on #3
Alright @getsetbro ,

I'll check it out soon and fix it.

Thanks.

[2017-09-11 08:41] michaelroper opened #4 "titleBar and autocomplete selection color is red?"
Hey Olaolu!

Just found your theme, and really like it. I have noticed a couple of odd things though, namely the titleBar foreground and the autocomplete selected item colors are showing up as red (as in #ff0000 red). I went to try and do a fix+PR, but looking through the theme code, I can't see anywhere that the red color is specified... any ideas why it might be doing this?

![image](https://use

[2017-09-11 18:10] whizkydee commented on #4
Hi @michaelroper,

**Quick one:** Thanks for reporting this.

I need to say that this looks strange 😕 . Could you please indicate what **OS** you're using and a list of all **extensions** you have installed on **VSCode**. It appears fine here on **Ubuntu** and **Windows**.

It's also very likely that **Custom CSS and JS** extension is conflicting with the theme, if you have it installed. You shoul

[2017-09-11 19:06] whizkydee commented on #3
Hi @getsetbro,

Unfortunately, **HTML** and other **markup** languages currently can't be highlighted by **VSCode** in **JavaScript** template strings. That whole code is grouped and identified as a template string. It's not tokenized as **markup** as to separate each tag and atrribute.

You can try it on other themes too. It's the same. 😉

**P.S**: You should star this repo 🙏

Thanks 👍

[2017-09-11 19:06] #3 closed

[2017-09-11 20:40] whizkydee commented on #4
Whoa @michaelroper,

I've just checked it now on `vscode@v1.6.0` and it looks broken here too. Thanks for reporting. I'm looking into it right now. And I'll try to resolve it asap. It appears to be introduced by `v1.6.0` of **VSCode**. Sorry for the inconvenience.

Also, Your contributions are very much welcome.

Thanks

[2017-09-13 17:51] whizkydee commented on #4
Thanks @michaelroper ,

It's fixed now with that commit, and is included in the **v1.3.0** release.

The bug was just so silly. Imagine, I wrote `#eefff` instead of `#eeefff` and `#7e57c25` instead of `#7e57c2`.

Thanks a lot for the hint 👍

[2017-09-14 01:57] michaelroper commented on #4
Cheers Olaolu - it's looking good now! 👍

[2017-10-06 19:39] whizkydee opened #5 "Contribute to this Project"
## Help Out!

Please help contribute to this project. Here are a few things I would love to implement :wink:. Get to understand the whole thing by reading the [contributing guide](https://github.com/whizkydee/vscode-material-palenight-theme/blob/master/CONTRIBUTING.md).

- [ ] Automate copying every change in a JSON file into the **variants**. Say, you edit *palenight.json*, your changes should ge

[2017-10-06 20:00] shalvah commented on #5
@whizkydee I think it would bring better visibility if you broke up each of the mentioned issues into separate GitHub issues, and get them on the hacktoberfest site

[2017-10-06 20:13] whizkydee commented on #5
Thanks @shalvah ,

I'll consider that.

[2017-10-12 10:07] lordgreg opened #7 "Cursor blinking is barely visible in HTML file"
Hi. I love the theme. It is awesome!

There is just one thing, which really bothers my development. If in HTML file and creating new element with typing "p" and pressing enter or tab, it will create `<p></p>` and put the cursor in the middle. The blinking cursor is barely visible.

![image](https://user-images.githubusercontent.com/480546/31490916-d96d8d3e-af45-11e7-9c45-0f3bed33fbee.png)

Can thi

[2017-10-12 16:42] whizkydee commented on #7
Hi @lordgreg ,
First off, Thanks for using this theme. I'm glad you love it!

This doesn't look like an issue associated with the theme. The cursor color is fine, but the default bracket matching behaviour in VS Code is weird. If you don't mind a few tweaks though, here;

Add the snippets you find helpful to your `settings.json` file;

1. You might want to disable the borders around the `<` and `>

[2017-10-12 16:42] #7 closed

[2017-10-13 06:09] SidKwok opened #8 "It is weird that curly braces are italic in jsx."
<img width="149" alt="2017-10-13 14 08 30" src="https://user-images.githubusercontent.com/13268747/31532468-13216bdc-afb3-11e7-86a9-a9fe3da0f1ee.png">
<img width="293" alt="2017-10-13 14 08 36" src="https://user-images.githubusercontent.com/13268747/31532472-194f1ae0-afb3-11e7-9d40-16189bc06c36.png">

It happens only in jsx. I think it would be better to keep curly braces `normal`.

palenight for

[2017-10-13 14:09] whizkydee commented on #8
This looks great @SidKwok . I'll look into it in a few minutes.

[2017-10-13 15:09] #8 closed

[2017-10-14 07:07] equinusocio opened #10 "Change name"
Hi, i suggest you to change the name of this theme because is misleading with the original Material Theme Palenight. (which you started from)
https://github.com/equinusocio/vsc-material-theme

[2017-10-14 22:22] #10 closed

[2017-10-14 22:43] equinusocio commented on #10
So you force me to request a takedown.

[2017-10-14 22:58] whizkydee commented on #10
Hey! You'll have to wait a few days... Before I can decide whether to effect that.

Thanks.

[2017-10-15 20:46] equinusocio commented on #10
@whizkydee Ok, so reopen this issue.

[2017-10-27 02:43] bajras commented on #2
Very nice theme, was this addressed. Below is the attached screenshot. When I highlight a text or double click a text to highlight, the highlighted color is very light and hard to see. Is there a way I can update that locally? Thanks.

<img width="186" alt="screen shot 2017-10-26 at 9 39 19 pm" src="https://user-images.githubusercontent.com/3359989/32085747-93278fda-ba96-11e7-8007-553c6fa6e165.png

[2017-10-27 09:46] whizkydee commented on #2
Hi @bajras ,

Thanks for raising this issue again.

Could you please specify the version of the theme you're using? The selection highlight colors were updated two days ago in `v1.5.4`. If it doesn't still look great, I'll consider adjusting it again.

You could temporarily also change the colors with `"workbench.colorCustomizations"` in your `settings.json` file. Say;

[code]

It would be appreci

[2017-10-27 14:08] bajras commented on #2
1.5.4, Like below im selecting the word apply only but I cant really see the highlight just on the word.

<img width="186" alt="screen shot 2017-10-26 at 9 39 19 pm" src="https://user-images.githubusercontent.com/3359989/32108146-5ce8ec74-baf6-11e7-98f1-bc8e3c370349.png">

[2017-10-28 10:41] pichfl commented on #2
I think in addition to the `editor.selectionBackground` there is some other mechanic overwriting this color. It may be that VSCode detects the same property name somewhere else in the document and uses another keyword because of that. I'm not sure which that would be.

I think the whole highlight color situation in Code is really hard to get right :/

[2017-10-30 15:12] bajras commented on #2
Ya its strange, when im selecting `const` it works fine but not when I select `getData' or event the variable names.

![screen shot 2017-10-30 at 10 11 14 am](https://user-images.githubusercontent.com/3359989/32178444-b3865038-bd5a-11e7-8650-c2079c918027.png)
![screen shot 2017-10-30 at 10 11 35 am](https://user-images.githubusercontent.com/3359989/32178445-b554c9f8-bd5a-11e7-881d-8bcf9c965341.png

[2017-10-30 15:51] whizkydee commented on #2
Hi guys,

**Quick one**: I absolutely appreciate the fact that you guys are really concerned about this issue --Thanks a bunch 👍 !

Meanwhile, the irregular **selection highlight** color definitely seems to be an issue with `vscode`. I'll look into it deeply and report to `vscode` if neccessary.

Also, @bajras, were you able to reproduce this in `vscode/stable`? In case you also have the **Custom

[2017-10-30 15:59] bajras commented on #2
I havent tried on the stable version of if yet, but thats a good idea. I have created an issue on VScode as well. Thanks.
https://github.com/Microsoft/vscode/issues/37047

[2017-10-30 17:52] pichfl commented on #2
I think

from [the comments](https://github.com/Microsoft/vscode/issues/37047#issuecomment-340469410) of that ticket might be an interesting bit of information. The colors I suggested in my original issue are not transparent. Maybe this makes a difference.

[2017-10-30 18:41] whizkydee commented on #2
Oh... Wow!

Thanks @pichfl ,

It's something I really missed out. Thanks for pointing it out to me.. I'll try that in a bit.

[2017-10-30 19:52] bajras commented on #2
Please let me know when you do. Thanks.

[2017-10-30 23:23] bajras commented on #2
`"workbench.colorCustomizations": {
    "editor.selectionBackground": "#9510ee80",
    "editor.wordHighlightBackground": "#9510ee80",
    "editor.wordHighlightStrongBackground":"#9510ee50"
  }`

Doing that fixed it for me after using transparent, I would highly recommend updating the selections to have more focus. Thanks

[2017-11-13 20:00] #2 closed

[2017-11-14 10:42] nealoke opened #11 "Sidebar list items too dark for good readability"
After booting up `vscode` today I noticed that the overal text color changed from white to a light purple. This changes affects people like me who have disabilities with reading as the text is quite unclear to me now :(

BTW: This is the best theme ever created by mankind 👍

[2017-11-14 10:49] nealoke commented on #5
@whizkydee I could help out here, I'm not sure when this will be but I'll put it on my todo list. I'll tackle the first task for copying into the variants 👍

[2017-11-14 19:46] whizkydee commented on #11
Hi @nealoke ,

Thanks a lot for raising this.

Could you please be more specific about what text you're talking about? Also, it'd be great if you ccan provide a screenshot of the editor as there's no issue here on **Windows** and **Ubuntu**.

Personally, I've noticed that the new @code has some issues with language tokenization. The element selectors like `h1` and `input` as shown in the screensho

[2017-11-14 19:48] whizkydee commented on #5
Hey @nealoke !

Thanks again for showing interest in this. You're very much welcomed on this. 'Would love to see you get started soon.

Cheers!

[2017-11-15 07:57] pranit123 opened #12 "Issue with displaying parenthesis in Italics version"
In the scenario depicted in the screenshot, the opening parenthesis is displayed in Italics while the closing one is not.

![screen shot 2017-11-15 at 1 22 39 pm](https://user-images.githubusercontent.com/23721710/32824854-a062f79e-ca08-11e7-91ef-92e9ca88132f.png)

[2017-11-15 11:20] nealoke commented on #11
@whizkydee sorry for not adding a picture :). It is not that the text is unreadable but the contrast between the background and the font color is just to low IMO. Before the update it was I think white text color which made it very clear.

![contrast](https://user-images.githubusercontent.com/17417414/32833484-50635d00-c9ff-11e7-81ca-a310bb00c117.PNG)

[2017-11-15 12:28] whizkydee commented on #11
Thanks @nealoke,

'Will look into that soon. Sorry for the inconvenience .

[2017-11-15 12:30] whizkydee commented on #12
Thanks. 'Will look into that. What language is that by the way?

[2017-11-15 13:09] pranit123 commented on #12
Writing TypeScript in a React Project

[2017-11-16 18:41] whizkydee commented on #11
Hi @nealoke,

Sorry, I forgot to state that you could do a workaround via your `settings.json` file with;

[code]

* `sideBar.foreground` modifies the color of the sidebar items and the items in the command palette
* `#ffffffcc` is the color that was used initially before the `v1.6.0` release

I hope you find it helpful.

[2017-11-16 18:44] whizkydee commented on #12
Great @pranit123!

The file language is set to `React` ?

[2017-11-17 05:56] pranit123 commented on #12
![screen shot 2017-11-17 at 11 26 05 am](https://user-images.githubusercontent.com/23721710/32931427-2ebadbec-cb8a-11e7-9b93-0dbb3e9119dc.png)

[2017-11-17 08:34] nealoke commented on #11
@whizkydee so it will not be changed by default? 😢 Thanks for the workaround!

[2017-11-17 19:19] whizkydee commented on #11
@nealoke It will, but It'll probably still look similar to its current appearance (or not).

[2017-11-17 20:14] whizkydee commented on #12
Cool @pranit123,

I get your point now. I'll get back to you soon (hopefully).

[2017-11-27 16:59] nealoke commented on #11
@whizkydee I've used the workaround you gave me but the following still remains. Could it be because it is ignored in my .gitignore file?

![weird](https://user-images.githubusercontent.com/17417414/33278684-9dbae6c6-d39c-11e7-82ba-23256f975c42.PNG)

[2017-11-27 19:11] whizkydee commented on #11
Yeah @nealoke It's because it's ignored in your `.gitignore` file. I guess that's great, or what do you think?

[2017-12-06 14:20] sdctm opened #14 "What font are you using in the screenshot?"
Not really an issue; but I'm intrigued what font you're using for the screenshot...

[2017-12-06 14:26] whizkydee commented on #14
Hey @sdctm,

It is stated in the [README](https://github.com/whizkydee/vscode-material-palenight-theme/blob/master/README.md).

Thanks.

[2017-12-06 14:26] #14 closed

[2017-12-09 02:06] aewing commented on #11
@nealoke try the following... Should make ignored resources and multiple selections a bit easier to see. Let me know if you're having trouble with anything else or would like for me to make some adjustments.

[code]

[2017-12-10 06:49] whizkydee commented on #11
Thanks @aewing,

I totally forgot that I hadn't responded to this.

@nealoke really sorry about that. Let me know if you find the current solution helpful.

Good luck.

[2017-12-27 06:13] Gujie-Novade commented on #2
I've found another extension which will add borders to the selection. This may help you guys too:
https://marketplace.visualstudio.com/items?itemName=iceliu.highlight-icemode
Here's a screenshot:
![image](https://user-images.githubusercontent.com/14208739/34372483-b1612488-eb07-11e7-9d9b-ead1a4e446e8.png)

[2018-01-06 02:49] AcarMeel opened #16 "sidebar is dark!"
I installed this theme twice on two different PCs. The first time, it blended the sidebar with a nice purple color, but in the second one the sidebar is just dark, not purple!. I'm using the same versions of OS, VSC and the same version of the plugin. IDK what happened, I like this theme cause at first it was all purple and nice

[2018-01-06 06:29] whizkydee commented on #16
Hi @AcarMeel,

Thanks for reporting this. Could you please attach a screenshot of the editor showing the issue for clarity and information.

Thanks.

[2018-01-06 14:34] nealoke opened #17 "All variants display comments in italic"
Hi, I just updated the plugin and now all variants of the theme display the comments in italic which is something I do not want :(

![image](https://user-images.githubusercontent.com/17417414/34640654-100cca2c-f2f7-11e7-8609-0673552161b0.png)

[2018-01-06 16:50] whizkydee commented on #17
Hello @nealoke,

Setting comments to italic is somewhat a standard for editor themes and totally escaped my mind while building this theme. The moment I noticed it, I added it to the theme.

Sorry for the inconvenience. Your `settings.json` file is your friend 😉 .

Thanks.

[2018-01-06 20:58] nealoke commented on #17
@whizkydee ok :)

[2018-01-06 20:58] #17 closed

[2018-01-16 06:54] #11 closed

[2018-01-16 06:54] #5 closed

[2018-02-01 20:03] offirgolan opened #18 "Handlebars templates are hard to read"
Hi there,

Absolutely love this theme! The only issue I have is that it's incredibly hard to read handlebar templates since its almost all purple. Would it be possible to add some more contrast?

<img width="590" alt="screen shot 2018-02-01 at 11 58 54 am" src="https://user-images.githubusercontent.com/575938/35700347-9c8cf9a4-0747-11e8-9f81-dc60608bae5a.png">
<img width="425" alt="screen shot 201

[2018-02-03 09:32] whizkydee commented on #18
Thanks @offirgolan,

'Will look into that soon.

[2018-02-03 09:34] whizkydee commented on #16
@AcarMeel? Please indicate if this issue is still valid.

[2018-02-08 18:29] mohouyizme opened #19 "JSX highlighting problem."
![screenshot_1](https://user-images.githubusercontent.com/23297439/35990852-53b63ba8-0cfd-11e8-9ec8-b46b461080d6.png)

[2018-02-09 05:30] jasonxia23 opened #20 "highlight is not obvious"
![image](https://user-images.githubusercontent.com/15098719/36013120-5cfa3ba6-0d9d-11e8-8a03-6be475be03ba.png)

Especially in `.vue` files.
![image](https://user-images.githubusercontent.com/15098719/36013222-057901a4-0d9e-11e8-85b2-336134dceaf3.png)

[2018-03-03 19:17] whizkydee commented on #16
Closing this, @AcarMeel since there's no response.

[2018-03-03 19:17] #16 closed

[2018-03-03 19:28] whizkydee commented on #12
Closing this now @pranit123. Hopefully, this issue is fixed already.

Please notify if otherwise.

Thanks.

[2018-03-03 19:28] #12 closed

[2018-03-03 20:06] whizkydee commented on #20
Hello @jasonxia23,

Hopefully, this issue has been resolved already, kindly hint if otherwise. However, you can hack around this with the `"workbench.colorCustomizations"` object in your `settings.json` file.

You'd do something like...

[code]

You can check out #2 too. Thanks.

[2018-03-03 20:06] #20 closed

[2018-03-03 20:15] #19 closed

[2018-04-15 00:16] MitHipster opened #21 "JS Comments Custom Color"
First off, this is a terrific theme. Thank you. One issue that I am having (and I'm not sure if it's VS Code or the theme), if I try to override the comment color that is easier for me to read using:

[code]

It works in HTML and CSS files, but not JS. Is there a workaround for this? Much appreciated.

[2018-04-30 03:54] dumindu opened #22 "[Suggestion] Please support for IntelliJ IDEs"
Hi,
Great job! Please support for IntelliJ IDEs.

[2018-05-04 11:11] equinusocio commented on #21
Hi @MitHipster. This theme is a unofficial (and license violating) porting of one of the original material theme variants (Palenight) which you can find here

[2018-05-04 11:17] equinusocio commented on #22
Hi @dumindu This theme is a unofficial (and license violating) porting of the original [Material Theme](https://equinsuocha.io/projects/material-theme/). I suggest you to switch to the original theme on which you can find more support and official portings for IntelliJ:
https://github.com/equinusocio/vsc-material-theme#official-portings

[2018-05-04 15:37] dumindu commented on #22
@equinusocio  https://github.com/equinusocio/vsc-material-theme having Apache License 2.0, right? So how this is violating license.
However I have tried original Material Themes on IntelliJ IDE but they are not lightweight and not having same colors like on this. Please correct me if I am wrong.

[2018-05-04 23:58] whizkydee commented on #21
Hi @MitHipster,

Thanks for using this theme. I think you should check the variant of the theme you're using. Are you sure it's this theme?

Cheers.

[2018-05-05 00:05] whizkydee commented on #22
@equinusocio We've discussed this before. This theme isn't a "port" of yours.
Please don't post such comment here again. Thanks.

[2018-05-05 00:06] whizkydee commented on #22
@dumindu Will look into designing for IntelliJ IDEs. Cheers.

[2018-05-05 00:10] equinusocio commented on #22
You are using the same name, same ui, same color palette, same ux, just another license and another source code. It is not a porting, it’s a clone :) with a different license. But i don’t give a fuck. Really. These works are not comparable.

[2018-05-05 00:15] whizkydee commented on #22
Hey @equinusocio,

It's not the same UI or color palette and for the record, I credited you there.

[2018-05-10 20:23] Jaballadares opened #23 "Colors Differ Between Machines - Palenight Operator"
Hi there, first off thanks for the beautiful theme! Forgive me if I'm submitting this incorrectly.

Are there any known reasons for why two pieces of identical code would have different syntax highlighting colors applied to them? I noticed it when my coworker sent a screenshot of her code and I compared it to the one running on my machine.

I've disabled other plugins, and still no luck. I guess I

[2018-05-17 13:42] ndcunningham opened #24 "Commit message validation is unable to be read using Palenight Theme"
I love this theme and just wanted to point out an issue which i have found and unsure if this is intended. It occurs when I use the Palenight Theme.

From the image below you can see the problem.
![screen shot 2018-05-17 at 9 36 36 am](https://user-images.githubusercontent.com/338948/40181019-20a8fe2a-59b6-11e8-8f15-bdc4d981f73c.png)

I fix this problem you have to add a custom setting to change t

[2018-05-17 13:48] whizkydee commented on #24
Oh, wow! Thanks. I'll check it out asap.

[2018-05-21 00:48] ketozhang opened #25 "Theme looks different (too much purple) on Ubuntu"
The theme looks a bit too purple than the screenshot in README. Is this what its suppose to look like (see screenshot below)?

![image](https://user-images.githubusercontent.com/13506487/40285863-cd502f94-5c55-11e8-97c9-8dd5e5aa7191.png)

I love this theme because it's like One Dark but with a hint of purple but this is too much.

Using VSCode for Ubuntu (don't think this matters too much)

[2018-05-21 00:54] ketozhang commented on #25
Spooky, the screenshot that I took looks perfect but its different than on my VSCode. I'm not sure how to show you what's wrong then.

[2018-05-25 07:39] Jaballadares commented on #25
@ketozhang this happens to me too! Most of the time, this is has more to do with monitor/screen you are using. I have my laptop and work _monitor_ side-by-side most days, and there's a surprisingly big difference in how different the colors look.

[2018-05-25 11:41] whizkydee commented on #23
Hello @Jaballadares,

Thanks for reaching out. I suggest you take note of the language your co-worker's code is set to. This is definitely strange. Check that out, and let me know your findings.

Cheers.

[2018-05-25 11:48] whizkydee commented on #25
@ketozhang thanks for reaching out! My bad, I'm just seeing this. Also, thanks @Jaballadares for the answer.

I think this is what you're experiencing, @ketozhang. Could you consider that and let me know what you find?

Cheers!

[2018-05-25 11:48] #25 closed

[2018-05-25 21:11] #18 closed

[2018-05-25 21:11] #24 closed

[2018-05-25 21:17] #23 closed

[2018-05-27 11:22] lcysgsg opened #26 "editor.findMatchHighlightBackground is not eye-catching"
![default](https://user-images.githubusercontent.com/19550000/40584867-680d9ea6-61db-11e8-907f-726c52ffdbc7.png)

Windows 10 , VsCode 1.23.1
I even can not see that..
Could you tell me why design this `"editor.findMatchHighlightBackground": "#2E3248",`
Do you will change the color more eye-catching?

good theme, thank you

[2018-07-24 05:21] liamwang opened #27 "Distinguish component color from html element color"
Here is Material Palenight Theme:

![image](https://user-images.githubusercontent.com/5000396/43118217-7f4d12f0-8f43-11e8-92a8-a4d525cd84e6.png)

Expect to make the color difference between component and html element in jsx syntax.

Like the One Dark Pro Theme does:

![image](https://user-images.githubusercontent.com/5000396/43118272-c28647ee-8f43-11e8-9a2e-a92de458e87a.png)

[2018-07-30 19:41] appcypher opened #28 "Better color for hints"
The hints in input boxes need a less proiminent color as they are currently indistinguishable from text typed into the boxes.

<img width="1680" alt="screen shot 2018-07-30 at 8 30 03 pm" src="https://user-images.githubusercontent.com/20358651/43419260-5db1d3fc-9438-11e8-819d-f7b2e40cf5a2.png">

[2018-08-20 09:04] DotCoyote opened #29 "TypeScript type-color for lowercase types"
First things first: awesome theme 😄
One wish though: type-declarations are highlighted very well, as long as they are capitalized. TypeScript often requires types written in lowercase, though.

Could you highlight lowercase-types as well? Maybe i could provide a PR for this, if this features is good for you.

[2018-08-20 21:53] whizkydee commented on #29
Thanks for reaching out, Lars. I however do not understand what you're saying. Can you provide a screenshot or is there any other theme that does what you want?

[2018-08-21 06:10] CinKon commented on #29
Hi, yeah sorry, could've provided some screens in the first place 😄

![bildschirmfoto 2018-08-21 um 08 07 56](https://user-images.githubusercontent.com/3854991/44383597-80e42180-a519-11e8-8c98-5f42d3373885.jpg)

The reason that I can't simply write every type capitalized is TypeScript itself:

![bildschirmfoto 2018-08-21 um 08 08 33](https://user-images.githubusercontent.com/3854991/44383620-95281

[2018-08-22 08:27] CinKon commented on #29
The same goes for JSHint-Types:

![bildschirmfoto 2018-08-22 um 10 26 27](https://user-images.githubusercontent.com/3854991/44452106-e7d70880-a5f5-11e8-81a8-f898bd56d808.jpg)

[2018-09-06 16:07] ashinzekene opened #30 "Unreadable text in selection dialog"
![image](https://user-images.githubusercontent.com/20991583/45170183-2aecca80-b1f7-11e8-83fa-d138683ed59e.png)

The text in the selection dialog is not readable

[2018-09-06 21:52] whizkydee commented on #30
Thanks @ashinzekene. I'll look into it.

[2018-10-02 12:35] whizkydee commented on #26
This should be fixed already. Closing now. If otherwise, I'll re-open. Thanks.

[2018-10-02 12:35] #26 closed

[2018-10-02 12:54] whizkydee commented on #27
Hi! I'm aware of that, and I'd like to retain it. Not all themes differentiate the two tokens too. It's unique to One Dark Pro and some other themes.

If you're not so comfortable with it, you can add a different colour to `entity.name.tag support.class.component`.

Thanks.

[2018-10-02 12:54] #27 closed

[2018-10-15 06:40] boringwong commented on #14
I have Operator Mono, but it doesn't look like the font in the screenshot.

[2018-10-15 09:58] whizkydee commented on #14
Oh, yeah. The screenshot changed since then. The new font is [FiraCode](https://github.com/tonsky/FiraCode), hope that helps.

[2018-11-03 07:34] dumindu opened #31 "Theme styles aren't applying for markdown preview code blocks"
Before:
![before](https://i.redd.it/bu4uqjq42ry01.png)

Now:
![now](https://i.imgur.com/rwpKJUU.png)
Now applying vscode default theme styles.

[2019-01-12 16:43] anhari opened #32 "Bordered variant"
Hey, thanks for this theme! I really enjoy the aesthetic and working in it every day :)

What do you think of adding "bordered" variants with a slightly darkened background for the sidebar, terminal, et cetera?

For example:

<img width="2016" alt="screen shot 2019-01-12 at 11 37 03 am" src="https://user-images.githubusercontent.com/6628875/51075796-807e2b80-165e-11e9-91e7-af4c0ca62ff5.png">

In t

[2019-01-12 22:06] whizkydee commented on #32
This is great @anhari! Feel free to send a PR :blush:

[2019-01-12 22:48] whizkydee commented on #31
@dumindu this issue is most likely related to VSCode or the plugin as I didn't intentionally design for it.

In fact, the syntax highlighting in the first screenshot is not the one of this theme. Please double check and let me know the outcome.

Closing now. Thanks!

[2019-01-12 22:48] #31 closed

[2019-01-15 03:40] TylerBarnes opened #33 "Deeper contrast version"
Hey there, I love your theme!
Thanks for creating it.

Would you be interested in adding a variant with more contrast?
I opened the theme myself and darkened the background and I found that a lot easier to see.
I could make a PR even if you're interested.

[2019-01-16 16:49] whizkydee commented on #33
Sure, thanks @TylerBarnes! Feel free to send in a PR.

[2019-01-19 18:43] mikeerickson opened #35 "Change color for Git History"
Is it possible to change these git information hints?  They are too prominent for my liking?

![image](https://user-images.githubusercontent.com/183153/51430953-00644280-1bd7-11e9-8ff3-0a978c5710cd.png)

[2019-01-19 18:48] mikeerickson opened #36 "My font appears to be "bolder" than screenshots"
In addition, it seems your screenshots have much cleaner font display than what I am using (my font seems to be using a bolder appearance)  Any idea where this might be coming from?

![image](https://user-images.githubusercontent.com/183153/51430985-bc257200-1bd7-11e9-90c9-ce602fa11f7a.png)

[2019-01-19 18:49] mikeerickson commented on #36
Doh, I didn't even think to look at the font setting.  Not sure why, but i had applied a bold font.  Sorry for the noise

[2019-01-19 18:49] #36 closed

[2019-03-15 07:01] dumindu opened #37 "[Suggestion] Please support for IntelliJ IDEs"
Related with #22,
With the 2019.1 release, custom UI Themes are officially supported by IntelliJ IDEA now.
http://www.jetbrains.org/intellij/sdk/docs/reference_guide/ui_themes/themes_intro.html

[2019-03-25 16:15] dhavalgshah opened #38 "Higher contrast in Sidebar & Command Pallet"
Thank you for this great theme.

However, it needs better contrast ratio in the sidebar as well as in command pallet. In the current version, it is near impossible to read them in a low brightness setting.

Screenshot:
![vscode-palenight-theme-sidebar-contrast-issue](https://user-images.githubusercontent.com/30974879/54935867-1ebd2600-4f19-11e9-91a2-deea1c2eaf7e.png)

[2019-03-26 15:25] codeangler opened #39 ".md unordered list with quotes"
## Image 1 - unordered list with just two-spaces indent `> quotes are, as expected, a different color and style`
<img width="711" alt="Screen Shot 2019-03-26 at 9 17 41 AM" src="https://user-images.githubusercontent.com/1369197/55009778-bb7ad480-4fa8-11e9-8c4a-c46ed5d64419.png">

## image 2 - unordered list with just 4-spaces indent `> quotes are **not** a different color and style`
<img width="70

[2019-04-03 20:02] ciel commented on #37
Would definitely love this

[2019-04-05 06:35] dumindu commented on #37
@ciel I would love to test, if you can share the json file.

[2019-04-08 21:41] migsupremo opened #40 "Colors not working properly in C"
so i noticed that the theme isnt working as intended (i think) as you can see the difference in the first image
![old code](https://user-images.githubusercontent.com/40744030/55758948-98cbcf80-5a2e-11e9-9892-44c9a0a75104.png)
and the second, that doesnt highlights the different parts of the code like the first, while the first highlight the letters inside the function and the function differently

[2019-04-11 22:15] #40 closed

[2019-04-11 22:20] migsupremo commented on #40
Issue fixed in vscode version 1.33.1 [this version](https://github.com/Microsoft/vscode/releases/tag/1.33.1).

[2019-04-16 22:49] sfrench87 opened #41 "No text selection highlight on extension search bar"
Just a small ui bug, if you search for an extension then try to highlight that search there is no highlight indicator. Love the theme by the way.

[2019-04-17 13:30] whizkydee commented on #41
That's strange. I'll take a look.

[2019-04-17 13:36] sfrench87 commented on #41
I was just having a look myself and it seems to be the "selection.background", but the color in the extensions panel is always lighter then the source control or search panel for example.

[2019-04-27 03:37] dumindu commented on #37
@whizkydee
https://plugins.jetbrains.com/contest/intellij-themes/2019

[2019-08-17 18:43] ciel commented on #37
Here's what I've got so far, but it's **very** far from complete.

[code]

[2019-10-30 12:51] 1chriis1 commented on #38
Also hard to find where the edge of the sidebar or the terminal panel at the bottom is, so that you can resize them

[2019-10-30 13:21] ChristosBouronikos opened #42 "It needs more contrast in all places but the editor."
The frame, the terminal, the sidebar need to be a darker color, so that they contrast the main editor.
Right now it's difficult to navigate VSCode.

[2020-03-10 14:49] nealoke opened #43 "Colors changed after latest vs code update"
This theme is the best! For some reason the colors changed after installing the latest vs code update.

The underlined parts used to be greyish (so not really a color)

![image](https://user-images.githubusercontent.com/17417414/76324674-ab0d5800-62e6-11ea-99d6-7250199e6393.png)

[2020-03-10 19:12] whizkydee commented on #43
Thanks for reporting! I noticed this myself and I'm working to find a fix. I'll let you know once I publish it.

[2020-03-10 19:34] whizkydee commented on #43
**Update:** This is not an issue with the theme but rather with the latest VSCode -- affects all themes. They introduced [semantic highlighting](https://code.visualstudio.com/updates/v1_43#_typescript-semantic-highlighting) for JS/TS which is a more accurate way to apply syntax colors to tokens.

It will take a while to incorporate the patches, but keep an eye out for the update. As a temporary wo

[2020-04-23 15:14] aeschli opened #44 "Adopt semantic highlighting"
Since 1.43, VSCode themes can take advantage of [semantic highlighting](https://code.visualstudio.com/docs/getstarted/themes#_semantic-highlighting).

Every theme controls whether semantic tokens are enabled. So far, only built-in themes have it enabled and I filed this issue to ask you to opt-in for the Palenight themes as well.

Adoption is easy and there are new cool styling possibilities.

To

[2020-05-12 10:58] mraaroncruz commented on #38
I have pretty good eyesight (not to toot my own horn) and I really like this theme but I often choose the wrong file or command in the command palette. I couldn't imagine how it would be for someone without such amazing sightedness.

I also feel like this wasn't always an issue.

Is there a way to change just this color in the settings?

[2020-05-25 19:11] mraaroncruz commented on #38
I found a workaround:
1. Go to settiings and look for `workbench.color` where you'll see `Workbench: Color Customizations`
2. Click `Edit in settiings.json`
3. Add the following to your settings.json (I picked a highlight color from the them in the editor and it is contrasty enough for me now)
[code]
Save it and the theme is now perfect! Thanks for the wonderful theme @whizkydee!

[2020-07-03 08:20] gcollic commented on #35
Hello,

you can override this in your personal configuration if you want, like this:

[code]

[2020-08-08 14:22] #32 closed

[2020-08-08 14:22] #38 closed

[2020-08-08 14:25] whizkydee commented on #42
**Update:** v2 which was shipped today now comes with a mild contrast variant. It's still experimental and very early stages, so let me know what your thoughts are, and if you have suggestions on how it can be improved (enhancements will be rolled out in patches).

You can find it as **Palenight (Mild Contrast)**, and it looks somewhat like this:
<img width="1285" alt="Screenshot 2020-08-08 at 2 4

[2020-08-08 14:25] #42 closed

[2020-08-08 14:25] whizkydee commented on #38
**Update:** v2 which was shipped today now comes with a mild contrast variant. It's still experimental and very early stages, so let me know what your thoughts are, and if you have suggestions on how it can be improved (enhancements will be rolled out in patches).

You can find it as **Palenight (Mild Contrast)**, and it looks somewhat like this:
<img width="1285" alt="Screenshot 2020-08-08 at 2 4

[2020-08-08 14:26] whizkydee commented on #33
**Update:** v2 which was shipped today now comes with a mild contrast variant. It's still experimental and very early stages, so let me know what your thoughts are, and if you have suggestions on how it can be improved (enhancements will be rolled out in patches).

You can find it as **Palenight (Mild Contrast)**, and it looks somewhat like this:
<img width="1285" alt="Screenshot 2020-08-08 at 2 4

[2020-08-08 14:26] #33 closed

[2020-08-08 14:26] whizkydee commented on #32
**Update:** v2 which was shipped today now comes with a mild contrast variant. It's still experimental and very early stages, so let me know what your thoughts are, and if you have suggestions on how it can be improved (enhancements will be rolled out in patches).

You can find it as **Palenight (Mild Contrast)**, and it looks somewhat like this:
<img width="1285" alt="Screenshot 2020-08-08 at 2 4

[2020-09-28 01:38] #35 closed

[2021-02-19 04:07] songhd commented on #41
Vote to this improvement

[2021-02-20 01:21] whizkydee commented on #41
@songhd Thanks for reminding me of this. I'll give it a look this weekend and rollout a quick patch.

[2021-03-06 20:52] babakfp opened #55 "Extensions list highlighting issue"
Hi
I think it's will be better if the color of the extension name and author name be replaced with each other. The primary thing in this list is the extension name, so users do need to first see the extension name, not the author name.
![Screenshot 2021-03-06 124221](https://user-images.githubusercontent.com/44144724/110220338-d6833e00-7e79-11eb-8403-645c3bad87af.png)
Also, thanks for the theme, i

[2021-03-07 14:16] 1081 opened #56 "Matching brackets better visible"
Great job with this theme! Thank you!

To make matching brackets better visible you could add support for: "Bracket Pair Colorizer 2".

To do so just add a list with the matching colors for your theme in the description, for example:

{
  "bracket-pair-colorizer-2.colors": [
    "#DFF959",
    "#F834BB",
    "#2BF5E9",
    "#D831D7"
  ]
}

I tried to provide you with a suggestion, but failed. Sure

[2021-04-15 09:56] Helfull opened #58 "Ligatures are not working correctly"
Hey, i was looking for a new theme, and stumbled upon this one, But for some reason the ligatures are not working correctly.  i already posted on the operator mono ligatures  repository about this problem, i just want to make sure that it is not related to the color theme itself.

https://github.com/kiliman/operator-mono-lig/issues/164#issuecomment-820272481

Color Theme: Palenight Operator
Font:

[2021-04-19 14:36] #58 closed

[2021-04-21 13:37] fabiandecuveland opened #59 "Multicursor selections not visible"
Hey!
Thanks for creating this theme, I like its soft but distinguishable colors.

I have an issue when selecting words via "Add Selection to Next Find Match". In other themes, the subsequent same words that are being selected, when pressing the key combination, appear in the same color as the usual selections via doubleclick etc (this is theme default dark theme, Dark+):
![image](https://user-imag

[2021-04-23 21:57] killshot13 opened #60 "Create a High-Contrast Version"
_self-assigned_
I have loved this theme ever since I stumbled across it nearly a year ago, and my favorite variant of the four is Mild Contrast. After reviewing the contributing guidelines to see if I could give back to the project in some way, I have decided to undertake the creation of a [high-contrast variant](https://github.com/whizkydee/vscode-palenight-theme/blob/399157e7154b08a7e6975b19bfed

[2021-04-29 06:58] from0toweb opened #61 "text selection is not visible"
<img width="350" alt="Снимок экрана 2021-04-29 в 09 57 43" src="https://user-images.githubusercontent.com/64635439/116512856-5a353600-a8d1-11eb-9fd9-ca33c28926c4.png">

in the screenshot, the text is highlighted

[2021-05-14 22:35] HappyTiptoe opened #63 "Inconsistent `const` keyword highlighting (JavaScript/TypeScript)"
![image](https://user-images.githubusercontent.com/32674127/118339675-7b249a80-b511-11eb-99c2-f317382aefcb.png)

As you can see in the screenshot, the `const` keyword is correctly highlighted pink in a normal context, but becomes blue when it's inside an object using the ES2015 shorthand method name syntax.

Thanks!

[2021-05-17 09:00] mohadel92 opened #64 "the text selection is not visible at all"
recently the text selection is not visible at all
i cannot use the theme although i really like it and its my daily driver

<a href="https://ibb.co/RH5PWBX"><img src="https://i.ibb.co/ZTZKCYQ/Screen-Shot-2021-05-17-at-10-52-14-AM.png" alt="Screen-Shot-2021-05-17-at-10-52-14-AM" border="0"></a>

[2021-05-18 03:08] j0k4rX commented on #64
same thing happens when selecting text in extension search area

On Mon, May 17, 2021, 3:00 PM mohadel92 ***@***.***> wrote:

[2021-05-18 10:25] #41 closed

[2021-05-18 10:25] #61 closed

[2021-05-18 10:25] #64 closed

[2021-05-18 13:44] j0k4rX commented on #64
@whizkydee still in extension area, code selection is not bright
and it's hard to recognize

![Screenshot 2021-05-18 193836](https://user-images.githubusercontent.com/71499522/118661478-f7202a80-b810-11eb-8151-5c7a53dffb7c.jpg)

[2021-05-18 13:54] mohadel92 commented on #64
so what is the fix??
the issue was closed with no mention for any fix @whizkydee

[2021-05-18 14:08] j0k4rX commented on #64
@mohadel92 Your issue was fixed but text selection (in extension area) still lags some fix

[2021-05-19 13:34] j0k4rX opened #68 "text highlighting in extension area still lags some fix"
![Screenshot 2021-05-18 193836](https://user-images.githubusercontent.com/71499522/118821081-b4c22080-b8d8-11eb-9028-46e6942eb8fa.jpg)

@whizkydee As you can see from the screenshot, text selection in extension area is not bright enough.
please fix it soon

PS: love your theme.. it's the best. (my favourite)

[2021-10-21 15:40] atmosphericPerspective opened #72 "Text Highlighted from Search Results not visible"
Hello,

I really like the Palenight Theme. However, one thing really bugs me: when I search for a text, the highlighted result is not visible at all
![VS_color](https://user-images.githubusercontent.com/85376034/138311266-048c9c06-1d5d-4d70-bb8b-b3d62892bf02.png)

Thank you!

[2021-11-07 07:49] #55 closed

[2021-12-27 05:46] zhangao0086 commented on #72
Same here...

[2022-01-01 03:53] alleluya-young commented on #72
same for me, it's really hard to recognize

[2022-01-09 11:28] #56 closed

[2022-01-28 12:43] flexagoon opened #73 "Publish to Open VSX"
Please publish this extension to the Open VSX marketplace.

## Context

Unfortunately, as Microsoft prohibits usages of the Microsoft marketplace by any other products or redistribution vsix files from it, in order to use VS Code extensions in non-Microsoft products, we kindly ask that you take ownership of the VS Code extension namespace in [OpenVSX](https://open-vsx.org/) and publish this extens

[2022-05-23 08:51] andyunleashed commented on #72
![CleanShot 2022-05-23 at 09 50 06](https://user-images.githubusercontent.com/1426079/169781562-5e77cd3e-3e5c-482a-918a-1ce21fbfa1e5.gif)

I would like to add to this with a gif to show it as well, it's definitely a problem if you're searching and editing said result.

[2022-11-30 10:34] RomainLt commented on #37
@dumindu @ciel Hi, I'm looking into how to import this theme into Webstorm because it's a really great theme (I already use it in vscode), and I'd like to know how you imported the json file into Webstorm. Thanks!